body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(seigaiha.png);
    margin: 100px;
}
#name{
    font-family: 'Open Sans Condensed', sans-serif;
}
table{
    border: 1px dotted #ed76b3;
    margin: 0 auto;
    padding: 10px;
}
.top{
    border-bottom: 1px dotted #ed76b3;
    color: #ed76b3;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
}
td{
    text-align: center;
    padding: 10px;
}

img{
    width: 300px;
    float: left;
    margin-right: 20px;
}
h2{
    clear: both;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}
h1{
    text-align: center;
}
h1, h2{
    color: #ed76b3;
}
a{
    color: #ed76b3;
}
a:hover{
    font-weight: bold;
}
.fa{
    color: #ed76b3;
}
#icons{
    list-style: none;
    text-align: center;

}
#icons li{
    display: inline-block;
    padding: 10px;
}