/* GLOBAL STYLES*/
body, html {
	padding-top: 0;
	margin-top: 0px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin-bottom: 0px;
}
.title {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	color: #800f0f;
}

li {
	list-style-type: none;
}
li img {
	vertical-align: middle;
}

ul.table {
	display: table;
}
ul.table li {
	display: table-row;
}
ul.table li .cell {
	display: table-cell;
	padding: 0 10px;
}
ul.table li .cell:last-child {
	text-align: left;
}
a {
	text-decoration: none;
	color: #800f0f;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
}
.navbar-wrapper {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.navbar {
	display: table;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
.navbar .cell {
	display: table-cell;
	text-align: left;
}
.navbar .cell:last-child {
	text-align: right;
}
.navbar img {
	width: 250px;
	vertical-align: middle;
}
.navbar .links {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 10px 20px;
}
.navbar .links a {
	margin: 0 5px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.navbar .links a.inverted {
	color: white;
	background-color: #800f0f;
}

.section, .section2 {
	margin: auto;
	width: 100%;
	position: relative;
	padding: 50px;
}
.section2 {
	background-color: #800f0f;
}
.section2 p, .section2 .title {
	color: #fff;
}

.section .inner-section {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section .title, .section2 .title{
	font-weight: bold;
}
.section .left, .section2 .left {
	float: left;
	margin-right: 40px;
}
#company {
	height: 100%;
	max-width: none;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
#company.section .inner-section {
	max-width: 600px;
	margin: auto;
	background-color: rgba(255,255,255, 0.95);
	padding: 25px;
}
#company.section .inner-section p:last-child{
    margin-bottom: 0px;
}
#patient img {
	width: 100px;
}

#media img {
	height: 75px;
}
#support .supporters {
	margin: auto;
	text-align: center;
	padding-top: 30px;
}
#support .supporters img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
	margin: 0 25px;
}
.title-img {
	display: block;
	margin: auto;
}
.date {
	width: 135px;
	text-align: right;
	color: #800f0f;
	font-weight: bold;
	font-size: 15px;
}
#news-media {
  max-width: 1024px;
  display: block;
  margin: auto;
}
#news-media tr {
	margin-bottom: 20px;
	display: block;
	font-size: 16px;
}
.newscontent {
	padding-left: 20px;
	font-family: 'Roboto Slab', serif;
}
#features td {
	width: 200px;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #800f0f;
	padding-right: 20px;
}
#features {
	width: 800px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#contactus {
	margin: auto;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	padding: 20px;
}
#contactus a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
#contactus a:hover{
	color: #b55757;
}
#contactus td {
	padding: 20px;
	color: #ffffff;
}
#company.section .inner-section ul {
	margin-right: 10px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#company.section .inner-section li {
	display: inline;
	padding-right: 5px;
}
#copyright p {
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
#copyright {
	padding-top: 25px;
}
#news-media img{
	max-width: 200px;
}
#sources p, #sources li{
	margin-bottom: 0px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}