html {
	height: 100%;
}
body, html {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-image: url("background.png");
	margin-left: auto;
	margin-right: auto;
}
body {
	padding-top: 30px;
	padding-bottom: 110px;
	min-height: 100%;
	position: relative;
}
@font-face {
	font-family: 'hagin';
	src: url('fonts/hagincapsmedium-webfont.eot');
	src: url('fonts/hagincapsmedium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/hagincapsmedium-webfont.ttf') format('truetype'),
		 url('fonts/hagincapsmedium-webfont.svg#hagin_caps_mediumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #666;
	text-decoration: none;
}
a:hover {
	border-bottom: 2px dotted #7CB5B3;
}
h1 {
	font-family: hagin, 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #666;
	margin: 0px;
}
h2 {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #7CB5B3;
	font-weight: normal;
	margin-top: 0;
}
#navi .info .link-wrapper .left-links {
	width: auto;
	height: 100%;
	display: inline-block;
	color: #666;
	font-size: 28px;
	font-family: hagin, 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
#navi {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	height: 95px;
	line-height: 95px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
#navi .bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 27px;
	bottom: 23px;
}
#navi .info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#navi .info .link-wrapper {
	width: 100%;
	height: 100%;
	margin: auto;
	max-width: 900px;
	position: relative;
	text-align: left;

}
#navi .info .link-wrapper .right-links {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
#navi a {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	margin: 0 15px;
	text-transform: uppercase;
	font-size: 14px;
}
#navi a.logo {
	height: 100%;
	width: auto;
}
#navi a.logo:hover {
	border-bottom: none;
}
#navi a.logo img {
	vertical-align: middle;
	height: 100%;
	width: auto;
	margin: auto;
}

#header {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 755px;
	height: 300px;
	position: relative;
}
#header img {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}
#header img.instant {
	-webkit-transition: opacity 0s;
	transition: opacity 0s;
}
#header img.selected {
	opacity: 1;
}
#header .header-text {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: -1px;
	color: white;
	text-align: center;
	padding-bottom: 10px;
}
#header .header-text .name {
	text-transform: uppercase;
	font-family: hagin, 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	font-size: 35px;
	margin-bottom: 5px;
}
#header .header-text .interests {
	letter-spacing: 2px;
	opacity: 0.8;
	font-size: 16px;
	text-transform: uppercase;
}


.section {
	margin: auto;
	background-color: #FFF;
	padding: 20px;
	margin-bottom: 40px;
	max-width: 775px;
	margin-top: 30px;
}

/* triplethreat */

#triplediv{
	overflow: hidden;
	text-align: center;
}

.section .triplethreat {
	max-width: 205px;
	text-align: center;
	float: left;
	margin-left: 10px;
}

.section .triplethreat img{
	max-width: 150px;
	margin: 10px;
}

.section .triplethreat h2{
	font-size: 14px;
}

.section #centerthreat{
	margin-left: 50px;
	margin-right: 50px;
}

/*About Me Formatting */
#aboutme, #contactme, #resumepage, #project-select, #projects{
	max-width: 775px;
}

#aboutme img {
	float: left;
	margin-right: 40px;
}

#aboutme div:after {
	content: "";
	clear: both;
	display: block;
}

#aboutme a{
	font-size: 15px;
}

#aboutme .links {
	display: table;
	white-space: nowrap;
	width: 100%;
	text-align: center;
}
#aboutme .links a {
	display: table-cell;
	padding: 0 10px;
}
#aboutme .links a:hover {
	border-bottom: none;
}
#aboutme .links .link {
	width: 100%;
}

/* Projects Formatting */
#projects {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	position: relative;
}
#projects h1, #projects h2, #projects p {
	margin: 0px;
}
#projects .project {
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
#projects .project.selected {
	pointer-events: auto;
	opacity: 1;
}
#projects .project .main-image-container {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	width: 655px;
	margin: 10px auto;

}
#projects .project .main-image {
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
#projects .project .main-image .image-container {
	width: 655px;
	display: inline-block;
}
#projects .project .thumbnails .thumbnail {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#projects .project .thumbnails .thumbnail.selected::after {
	position: absolute;
	content: '';
	background-color: #77b1af;
	opacity: 0.7;
	pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#projects .project .info {
	text-align: left;
	width: 655px;
	margin: auto;
}

#project-select a:hover {
	border-bottom: 0;
}

#project-select .categories {
	margin-bottom: 10px;
	text-align: center;
}
#project-select .category {
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 15px;
}
#project-select .category.selected,
#project-select .category:hover {
	border-bottom: 2px dotted #7CB5B3
}
#project-select img {
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
}

#project-select a.hide {
	display: none;
}

#project-select .images {
	font-size: 0;
	text-align: center;
}
#project-select a {
	margin: 7px;
}
.project.section {
	font-size: 0;
	margin-top: 25px;
	text-align: center;
}

.project.section .info {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	padding: 10px;
	vertical-align: top;
	text-align: left;
}

.project.section img {
	display: inline-block;
	font-size: 0;
	letter-spacing: 0;
	margin: 0;
	padding: 10px;
	max-width: 655px;
}
.titles p {
	margin-top: 0;
	font-size: 15px;
	text-align: left;
}
.titles a {
	display: inline-block;
}
.project.section img:first-of-type {
	width: 50%;
}

.project.section.logo img{
	width: auto;
}

.project.section .extrainfo{
	font-size: 16px;
	text-align: left;
}

.project.section.chanty .info {
	width: 35%;
}
/* Contact Me */
#entry_223057992, #entry_1286452109, #entry_2036269118 {
	margin: 10px 4px;
	padding: 5px;
	width: 280px;
	border: 1px solid #7CB5B3;
}
#contact-card {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#contact-card img{
	min-width: 75px;
}
#contact-card h2, #contact-card h3 {
	margin: 0;
	line-height: 14px;
}
#contact-card .ccard {
	display: inline-block;
	margin-right: 30px;
	width: 120px;
}
#contact-card .ccard h3 {
	font-size: 16px;
}

#contact-card .ccard:hover a {
	border-bottom: none;
}
#contact-card .ccard:hover h3 span {
	border-bottom: 2px dotted #7CB5B3;
}
#contact-card .ccard:hover .fa-3x {
	color: #7CB5B3;
}

#contactme .contact-line {
	position: relative;
}
#contactme .contact-line .fa-scissors {
	position: absolute;
	bottom: -6px;
	right: 20px;
}
.fa-3x:hover {
	color: #7CB5B3;
	text-decoration: none;
}
.fa-3x {
	color: #9ce3e0;
	margin-bottom: 4px;
}
.fa-scissors {
	color: #7CB5B3;
}

#form {
	margin-top: 30px;
	text-align: center;
}
hr {
    border: 0;
    border-bottom: 1px dashed #7CB5B3;
    max-width: 90%;
}
#contactform {
	display: inline-block;
	vertical-align: top;
}

#contactform {
	text-align: center;
}
#contactform .title {
	text-align: left;
	margin-left: 38px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: hagin, 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
#contactform input[type="text"] {
	width: 300px;
	font-size: 10px;
	margin: 10px 4px;
	border: 1px solid #7CB5B3;
	padding: 5px;

}
#contactform textarea {
	width: 300px;
	max-width: 710px;
	font-size: 10px;
	margin: 10px 4px;
	border: 1px solid #7CB5B3;
	padding: 5px;
}
#contactform .submit-area {
	text-align: center;
}
#contactform .submit-area input[type="submit"] {
	margin: 10px 4px;
	margin-right: 38px;
	cursor: pointer;
}


/* Next & Previous Project */

.pproject{
	float: left;
}

.nproject{
	float: right;
}

.pproject, .nproject{
	text-align: center;
}

.pproject p, .nproject p{
	margin: 0px;
	font-size: 12px;
	text-transform: uppercase;
}

#nextproject {
	overflow: hidden;
}

#nextproject img{
	max-width: 100px;
}

/* Resume */
#resumepage {
	text-align: center;
}
#resumepage a:hover {
	border-bottom: none;
}
.link {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	border: none;
	text-align: center;
	width: 240px;
	color: #FFF;
	background-color: #9ce3e0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	text-transform: uppercase;
}
.link:hover {
	background-color: #7CB5B3;
}

#footer {
	text-align: center;
	padding: 20px 0;
	line-height: 25px;
	word-spacing: 3px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

/* Resume Formatting */

#resume {
	padding-bottom: 30px;
	height: auto;
}
#resume h3, #resume h4 {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
}
#resume #resumename {
	background: none;
}
#resume h1 {
	font-size: 45px;
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
#resume h2 {
	font-family: hagin, 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #666;
	max-width: 800px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 5px;
}
#resume h3 {
	margin: 0px;
}
#resume h4 {
	color: #77b1af;
	margin: 0px;
}
.resumeslab {
	background-color: #fff;
	padding: 20px;
	max-width: 800px;
	margin: auto;
}
.resumeslab ul {
	margin-top: 0;
}
.resumeslab ul:last-child {
	margin-bottom: 0;
}
#resume #skill li {
	list-style-type: none;
	margin: 10px;
}
#resume #skill li em {
	color: #77b1af;
	font-weight: bold;
}
#resume dl {
	margin-top: 0;
}
#resume dd {
	margin-left: 0px;
}

#resume #skill {
	margin: 0;
	padding: 0;
}
#resume dd ul {
	margin-top: 0;
}

#resume #content h2 {
	margin: 0;
}
#resume p {
	margin-top: 0px;
	margin-left: 40px;
}
.resumepdf {
	text-align: center;
}
.coop {
	background-color: #f9f9f9;
	padding: 15px;
	margin-bottom: 15px;
}
#resume .coop h1 {
	font-size: 16px;
	margin-bottom: 10px;
	padding-top: 0;
}

/* Mobile */


@media (max-width: 775px) {
#header .header-text .interests {
	display: none;
}
#contact-card .ccard {
	display: block;
	margin-right: auto;
	width: auto;
	margin-top: 35px;
}
.section .triplethreat {
	margin-left: 5px;
}
.section #centerthreat{
	margin-left: 20px;
	margin-right: 20px;
}
}

@media (max-width: 730px) {
	body {
		padding-top: 1px;
	}

	.section .triplethreat {
		max-width: 300px;
		text-align: center;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.section #centerthreat {
		margin-right: auto;
		margin-left: auto;
	}
	#aboutme, #contactme, #resumepage, #project-select, #projects {
		max-width: auto;
	}
	#project-select .category {
		display: block;
	}
	#project-select .category.selected, #project-select .category:hover {
		color: #7CB5B3;
		border-bottom: none;
	}
	.project.section .info {
		width: auto;
	}
	.project.section img:first-of-type {
		width: auto;
	}
	.project.section img {
		max-width: 90%;
	}
	#aboutme img {
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
		display: block;
	}
	#blips {
		width: 100%;
	}
	#blips .blip {
		text-align: center;
	}
	#contactform {
		width: auto;
		display: block;
	}
	#contactform .submit-area {
		text-align: center;
	}
	#contactform .submit-area input[type="submit"] {
		margin-right: 0px;
	}
	#resume h2 {
		text-align: center;
	}

}

@media (max-width: 620px) {
	#navi {
		line-height: normal;
		height: auto;
	}
	#navi.stuck {
		position: relative;
	}
	#navi .info {
		position: relative;
	}
	#navi .bar {
		top: 18px;
		bottom: auto;
		height: 34px;
	}
	#navi .info .link-wrapper .left-links,
	#navi .info .link-wrapper .right-links {
		display: block;
		position: static;
		text-align: center;
		margin-bottom: 10px;
	}
	#navi .info .link-wrapper .left-links {
		height: 70px;
		margin-top: 10px;
	}
	#navi .info .link-wrapper .right-links {
		padding: 10px 0;
	}

	#header {
		margin-top: 10px;
		width: 100%;
		height: 0;
		padding-bottom: 43.16%;
	}

	#header img {
		width: 100%;
	}
}
@media (max-width: 500px) {
	#project-select img {
		max-width: 145px;
	}
}
