body{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
}

h1, h2{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}
h1{
	text-align: center;
}
h3{
	margin-top: 16px;
    font-weight: 100;
    font-size: 14px;
}
a, a:visited{
	color: #000;
}
a:hover{
	color: #01A2A6;
	text-decoration: none;
}
/* White & Grey Divs */
.white, .grey{
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}
.grey{
	background-color: #ecf0f1;
}
.inner{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 20px;
}
/* Big Links */
.largeurl{
	border: 1px black solid;
	padding: 15px 55px;
	margin: 10px;
	display: inline-block;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
}
.largeurl:hover{
	border: 1px #01A2A6 solid;
}
/* Navigation */
#top{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 50px;
}
.nav{
	display:inline-block;
	float:right;
	font-family: 'Playfair Display', serif;
	margin-right: 50px;
}
.bottomnav{
	float: none;
	text-align: right;
}
.lastdiv{
	text-align: right;
}
.projectnav{
	display: block;
	text-align: right;
	float: none;
}
#titlewrapper{
	position:absolute;
	width:100%;
	z-index: -1;
	margin-left:auto;
	margin-right:auto;
}
#titlewrapper h1{
	margin-top: 50px;
}

.nav li{
	display: inline-block;
	margin: 15px;
}
#logo{
	width: 100px;
	float: left;
   	margin-left: 50px;
}
/* about */
#about{
	clear: both;
}
#about img{
	max-width: 300px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: left;
}
#abouttext{
	width: 700px;
	text-align: left;
	margin-top: 120px;
	font-size: 15px;
	line-height: 20px;
}
/* about */
#about{
	clear: both;
}
#about img{
	max-width: 300px;
	margin-right: 30px;
	float: left;
}
#abouttext{
	width: 700px;
	text-align: left;
	margin-top: 100px;
	font-size: 15px;
	line-height: 20px;
}
#minime, #minieducation{
	display: none;
}
/* experience */
.featuredexp, .featuredint{
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}
.featuredexp img, .featuredint img{
	float: left;
	margin-right: 35px;
}
.expblock, .intblock{
	float: left;
    width: 420px;
    margin-right: 35px;
    text-align: left;
}
#expprojects{
	margin-bottom: 20px;
}

/* skills */
#skills{
	padding-top: 0;
	background-image: url("images/mainimage.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	height: 535px;
}

.skillblock{
	max-width: 300px;
	font-size: 13px;
	line-height: 20px;
	text-align: left;
	position: absolute;
}
#mainhomepageimage {
	max-width: 600px;
}
#home #resume{
	margin-top: 450px;
}
/* projects */
#projectlinks{
	margin-top: 116px;
}
.featuredproject{
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
}
.featuredproject img{
	float: left;
	margin-right: 35px;
}
.projectblock{
	float: left;
	width: 420px;
	margin-right: 35px;
	text-align: left;
	margin-bottom: 39px;
}

/* Connect */
#connect{
	padding: 0;
}
#connect li{
	display: inline;
	float: left;
	margin: 15px;
}

.fa{
	margin-bottom: 5px;
}
.miniconnect{
	font-size: 11px;
}
/* Projects Page */
.bigproj, .smallproj{
	margin-bottom: 20px;
	font-size: 13px;
}
.smallproj{
	display: inline-block;
}
.bigproj a, .smallproj a{
	text-decoration: none;
}
.bigproj a:hover, .smallproj a:hover{
	text-decoration: underline;
}
.miniconnect{
	font-size: 13px;
}
#connectmain{
	width: 700px;
}
#projpage h3{
	text-transform: uppercase;
}

/* Resume */
.resumeleft, .resumeright{
	width: 400px;
	display: inline-block;
}
.resumeleft{
	text-align: right;
	padding-right: 20px;
	vertical-align: top;
}
.resumeright{
	text-align: left;
	padding-left: 20px;
	border-left: black dotted 2px;
}
#resume h2{
	margin-bottom: 0;
	margin-top: 30px;
}
#resume h3, #resume h4{
	display: inline-block;
	margin: 0;
}
#resume .double{
	display: inline-block;
}
#resume h3{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}
#resume #firsth3{
	margin-top: 12px;
}
#resume h4{
	font-weight: normal;
}
#resume p{
	font-size: 14px;
}
#resume p:first-child{
	margin-top: 0;
}
 #resume .time{
 	font-size: 12px;
 }
.resumeleft ul li, .resumeright ul li{
	list-style: none;
	margin-bottom: 5px;
	font-size: 13px;
}
#resume ul{
	padding: 0;
}
@media only screen and (max-width: 1000px){
	#minihomepageimage{
		display: unset;
   		float: right;
		max-width: 500px;
		margin-top: 100px;
	}
	#top{
		margin-bottom: 0;
	}
	.nav{
		margin-top: 0;
		margin-right: 0;
		padding-left: 0;
		float: none;
	}
	#titlewrapper{
		position: relative;
	}
	#titlewrapper h1{
		margin-bottom: 0;
	}
	#logo{
		float: none;
    	margin-left: 0;
    	width: 85px;
	}
	#titlewrapper h1 {
    	margin-top: 0;
    }
/* skills */
	#skillsinner{
		background-size: 0 0;
		height: auto;
		width: 800px;
	}
	#copyproof, #printlayout, #uiux{
		margin-left: 0;
		margin-top: auto;
	}
	.skillblock{
		position: relative;
		margin-bottom: 40px;
	}
/* featured */
	.projectblock{
		float: none;
		margin-right: 0;
	}
	.featuredproject img{
		float: none;
		margin-right: 0;
	}
	.projectblock h2{
		text-align: center;
	}
/* projects */
	#projects #projectlinks{
		margin-top: 0;
	}
	.bigproj img{
		max-width: 350px;
	}
@media only screen and (max-width: 840px){
}