body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}
/* Top */
#top{
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* Navigation */
#navbar{
	margin-bottom: 20px;
	padding-right: 40px;
	padding-left: 20px;
	padding-top: 20px;
}
#navbar img{
	max-width: 70px;
}
#navlist{
	float: right;
}
#navigation{
	list-style: none;
}
#navigation li{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}
#navigation a{
	color: #000;
}
#navigation a:hover{
	color: #2980b9;
}
/* Main Text */
#maintext{
	margin: 0 auto;
	text-align: center;
}
#maintext p{
	font-size: .8em;
}
/* Below the Fold */
#belowfold{
	width: 700px;
	margin: 15px auto;
}
.left{
	width: 45%;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}
.right{
	width: 45%;
	text-align: center;
	display: inline-block;
}
/* Centered div */
.centered{
	text-align: center;
	color: #2980b9;
	font-family: 'Pacifico', curisve;
	margin-top: 5px;
	margin-bottom: 5px;	
}
.centered h1{
	margin: 0;
	font-weight: normal;
}
.centered p, .centered a{
	font-family: 'Roboto', sans-serif;
	margin-top: 0;
	color: #000;
}
.centered a:hover{
	color: #2980b9;
}
/* Left side */
.left h1{
	font-size: 1.3em;
	color: #2980b9;
	font-family: 'Pacifico', curisve;
	margin-bottom: 2px;
}
.left #hours{
	margin-top: 0;
}
.left p{
	margin-top: 2px;
	margin-bottom: 2px;
}
.left a{
	color: #000;
}
.left a:hover{
	color: #2980b9;
}
/* Contact Us */
#socialmedia{
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}
#socialmedia li{
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
}
#socialmedia img{
	max-width: 40px;
}
/* Food Stalls */
#fooditems{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#fooditems li{
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
#fooditems img{
	max-width: 270px;
}
#fooditems a{
	color: #000;
}
#fooditems a:hover{
	color: #2980b9;
}
#fooddrink .centered{
	margin-bottom: 20px;
}
#searchbar{
	width: 400px;
	height: 30px;
	padding-left: 25px;
	background: url("images/search.png") no-repeat left;
	border: 1px black solid;
}
#button{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	border: 1px black solid;
	height: 30px;
	background-color: #fff;
	margin-bottom: 10px;
}

/* Stall */
.stall #belowfold{
	width: 580px;
}
.stall .left{
	text-align: left;
}
#menu{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .8em;
}
#menu li{
	margin-bottom: 10px;
}
.stall .centered{
	margin-bottom: 20px;
}
.stall .centered h1{
	font-weight: normal;
}
.stall h2{
	color: #2980b9;
	font-family: 'Pacifico', curisve;
	margin-bottom: 0px;
	margin-top: 0px;
}
.stall #cost{
	color: #2980b9;
}
.stall .right img{
	max-width: 300px;
	margin-bottom: 10px;
}
.stall #price{
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.fadein{
	position: relative;
	width: 375px;
	height: 250px;
	margin: 0 auto;
}
.fadein img { 
	position:absolute;
	left: 0;
	top: 0;
	max-width: 500px;
	max-height: 250px;
}

/* Pani Puri Search Results */
#puri li{
	vertical-align: top;
}
#puri li p{
	max-width: 300px;
	text-align: left;
	font-size: .7em;
	margin-top: 0;
}
#puri li span{
	font-weight: bold;
	background-color: #ededed;
}
#puri .button{
	margin-bottom: 10px;
}