/* GLOBAL STYLES*/
body, html {
	padding-top: 0;
	margin-top: 0px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
video{
	background-image: url("img/backupbackground.jpg");
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin-bottom: 0px;
}
.title {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	color: #2980B9;
}

li {
	list-style-type: none;
	color: #000000;
}
li img {
	vertical-align: middle;
}

ul.table {
	display: table;
}
ul.table li {
	display: table-row;
}
ul.table li .cell {
	display: table-cell;
	padding: 0 10px;
}
ul.table li .cell:last-child {
	text-align: left;
}
.section2 a{
	text-decoration: none;
	font-weight: none;
	color: #ECF0F1;
}
.section2 a:hover{
	text-decoration: underline;
}
a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
}
.navbar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.navbar {
	display: table;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
.navbar .cell {
	display: table-cell;
	text-align: left;
}
.navbar .cell:last-child {
	text-align: right;
}
.navbar img{
	width: 55px;
	padding: 8px;
	margin: 2px;
	vertical-align: middle;
}
.navbar .links {
	display: inline-block;
	vertical-align: middle;
    margin-right: 5px;
}
.navbar .links a, .paypal_btn {
	margin: 0 5px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.navbar .links a:hover{
	color: #E74C3C;
}
.navbar .links a.inverted {
	color: white;
	background-color: #2980B9;
}
.navbar .links ul li{
	float: left;
}
.paypal_btn{
	display: inline-block;
	text-align: center;
	padding: 20px 25px;
	margin: 0;
	margin-top: 25px;
	background: #2980B9;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #ECF0F1;
	font-size: 20px;
	font-weight: none;
}
.paypal_btn:hover{ 
	text-decoration: underline;
}
.paypal{
	margin: auto;
}
.section, .section2 {
	margin: auto;
	width: 100%;
	position: relative;
	padding: 75px;
	clear: both;
}
.section2 {
	background-color: #2980B9;
}
.section2 p, .section2 .title {
	color: #ECF0F1;
}
.section .title, .section2 .title{
	font-weight: bold;
}
.section .left, .section2 .left {
	float: left;
}
#home {
	height: 100%;
	margin: 0;
	padding: 0;
}
#home.section .inner-section {
	max-width: 400px;
	background-color: rgba(255,255,255, 0.75);
	padding: 25px;
	margin-left: 50px;
	position: absolute;
	z-index: 100;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#home.section .inner-section p:last-child{
    margin-bottom: 0px;
}
#home #scrolldown{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	text-align: center;
	position: absolute;
	bottom: 3%;
	margin: auto;
	left: 50%;
}
#team img {
    border-radius: 50%;
    margin: 20px;
}
#team p{
	text-align: center;
}
#media img {
	height: 75px;
}
#support .supporters {
	margin: auto;
	text-align: center;
	padding-top: 30px;
}
#support .supporters img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
	margin: 0 25px;
}
.title-img {
	display: block;
	margin: auto;
}
.date {
	width: 135px;
	text-align: right;
	color: #2980B9;
	font-weight: bold;
	font-size: 15px;
}

#features td {
	width: 200px;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	text-align: center;
	color: #E74C3C;
	padding-right: 20px;
}
#features {
	width: 800px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#features h1{
	font-size: 20px;
	margin-top: 5px;
	color: #E74C3C;
}
#features p{
	font-weight: 0;
	font-size: 12px;
}
#solution{
	text-align: center;
    min-height: 570px;
}
#solution img{
	max-width: 600px;
	margin: 0 20px;
}
#solution #device{
	max-width: 155px;
	float: left;
	margin-right: 20px;
}
#solution #app{
	float: right;
	max-width: 200px;
	margin-left: 20px;
}
.how{
	clear: both;
    width: 800px;
    margin: 20px auto;
    overflow: hidden;
}
#rad .how{
	max-width: 1000px;
}
#solution p{
	text-align: left;
}
#infocards{
	margin: 30px auto;
	text-align: center;
	padding: 0px;
	min-width: 155px;
}
#infocards #infoleft{
	float: left;
}
#contact {
	margin: auto;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
#contact a {
	text-decoration: none;
	color: #ECF0F1;
	font-weight: bold;
}
 #contact .how{
    width: 900px;
}
#infocards a:hover{
	color: #2C3E50;
}
.left{
	max-width: 400px;
	margin-top: 50px;
	text-align: left;
	padding: 10px;
}
.right{
	margin-top: 20px;
}
#company.section .inner-section ul {
	margin-right: 10px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#company.section .inner-section li {
	display: inline;
	padding-right: 5px;
}
#copyright p {
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
#copyright {
	padding-top: 25px;
}
#news-media img{
	max-width: 200px;
}
.slogan{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #2980B9;
	font-style: italic;
}
@media screen and (max-width:750px) {
    ul li#news {clear:both;float:right;}
    ul li#contact {clear:both;float:right;}
    ul li#paypal {clear:both;float:right;}
}
header:after,#timeline .timeline-item:after,header:before,#timeline .timeline-item:before{
	content:'';
	display:block;
	width:100%;
	clear:both;
}
*,*:before,*:after{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#timeline .fa{
	margin-top: 35%;
	margin-left: 35%;
}
#timeline{
	margin-top: 40px;
}
body,html{
	height:100%;
}
body{
	background-size:cover;
	margin:0;
	padding:0;
	color:#ECF0F1;
	-webkit-font-smoothing:antialiased;
}
body p{
	color: #000000;
}
.container{
	max-width:1100px;
	margin:0 auto;
}
h1,h2,h3,h4{
	font-weight:600;
}
.project-name{
	text-align:center;
	padding:10px 0;

}
.btn{
	padding:5px 15px;
	text-decoration:none;
	background:transparent;
	border:2px solid #f27c7c;
	color:#f27c7c;
	display:inline-block;
	position:relative;
	text-transform:uppercase;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
	-ms-transition:background 0.3s ease;
	transition:background 0.3s ease;
	-webkit-box-shadow:2px 2px 0 #f27c7c;
	-moz-box-shadow:2px 2px 0 #f27c7c;
	-ms-box-shadow:2px 2px 0 #f27c7c;
	box-shadow:2px 2px 0 #f27c7c;
}
.btn:hover{
	box-shadow:none;
	top:2px;
	left:2px;
	-webkit-box-shadow:2px 2px 0 transparent;
	-moz-box-shadow:2px 2px 0 transparent;
	-ms-box-shadow:2px 2px 0 transparent;
	box-shadow:2px 2px 0 transparent;
}