/* GLOBAL STYLES*/
body, html {
	padding-top: 0;
	margin-top: 0px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin-bottom: 0px;
}
.title {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	color: #800f0f;
}

li {
	list-style-type: none;
	color: #000000;
}
li img {
	vertical-align: middle;
}

ul.table {
	display: table;
}
ul.table li {
	display: table-row;
}
ul.table li .cell {
	display: table-cell;
	padding: 0 10px;
}
ul.table li .cell:last-child {
	text-align: left;
}
a {
	text-decoration: none;
	color: #800f0f;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
}
.navbar-wrapper {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.navbar {
	display: table;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
.navbar .cell {
	display: table-cell;
	text-align: left;
}
.navbar .cell:last-child {
	text-align: right;
}
.navbar img{
	width: 100px;
	vertical-align: middle;
}
.navbar .links {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 10px 20px;
}
.navbar .links a, .paypal_btn {
	margin: 0 5px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.navbar .links a.inverted {
	color: white;
	background-color: #800f0f;
}
.navbar .links ul li{
	float: left;
}
.paypal_btn{
	display: inline-block;
	text-align: center;
	padding: 20px 25px;
	margin: 0;
	margin-top: 25px;
	background: #800f0f;
	border: 0;
	cursor: pointer;
	outline: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: none;
}
.paypal_btn:hover{ 
	text-decoration: underline;
}
.paypal{
	margin: auto;
}
.section, .section2 {
	margin: auto;
	width: 100%;
	position: relative;
	padding: 50px;
}
.section2 {
	background-color: #800f0f;
}
.section2 p, .section2 .title {
	color: #fff;
}

.section .inner-section {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section .title, .section2 .title{
	font-weight: bold;
}
.section .left, .section2 .left {
	float: left;
	margin-right: 40px;
}
#company {
	height: 100%;
	max-width: none;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
#company.section .inner-section {
	max-width: 600px;
	margin: auto;
	background-color: rgba(255,255,255, 0.95);
	padding: 25px;
}
#company.section .inner-section p:last-child{
    margin-bottom: 0px;
}
#patient img {
	width: 100px;
}

#media img {
	height: 75px;
}
#support .supporters {
	margin: auto;
	text-align: center;
	padding-top: 30px;
}
#support .supporters img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
	margin: 0 25px;
}
.title-img {
	display: block;
	margin: auto;
}
.date {
	width: 135px;
	text-align: right;
	color: #800f0f;
	font-weight: bold;
	font-size: 15px;
}
#news-media {
  max-width: 1024px;
  display: block;
  margin: auto;
}
#news-media tr {
	margin-bottom: 20px;
	display: block;
	font-size: 16px;
}
.newscontent {
	padding-left: 20px;
	font-family: 'Roboto Slab', serif;
}
#features td {
	width: 200px;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #800f0f;
	padding-right: 20px;
}
#features {
	width: 800px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#contactus {
	margin: auto;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	padding: 20px;
}
#contactus a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
#contactus a:hover{
	color: #b55757;
}
#contactus td {
	padding: 20px;
	color: #ffffff;
}
#company.section .inner-section ul {
	margin-right: 10px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#company.section .inner-section li {
	display: inline;
	padding-right: 5px;
}
#copyright p {
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
#copyright {
	padding-top: 25px;
}
#news-media img{
	max-width: 200px;
}
.slogan{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #800f0f;
	font-style: italic;
}
@media screen and (max-width:750px) {
    ul li#news {clear:both;float:right;}
    ul li#contact {clear:both;float:right;}
    ul li#paypal {clear:both;float:right;}
}
header:after,#timeline .timeline-item:after,header:before,#timeline .timeline-item:before{
	content:'';
	display:block;
	width:100%;
	clear:both;
}
*,*:before,*:after{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#timeline .fa{
	margin-top: 35%;
	margin-left: 35%;
}
#timeline{
	margin-top: 40px;
}
body,html{
	height:100%;
}
body{
	background-size:cover;
	margin:0;
	padding:0;
	color:#ffffff;
	-webkit-font-smoothing:antialiased;
}
body p{
	color: #000000;
}
#timeline .timeline-item .timeline-content img{
	max-width: 200px;
	float: left;
	margin: 10px;
	max-height: 100px;
}
.container{
	max-width:1100px;
	margin:0 auto;
}
h1,h2,h3,h4{
	font-weight:600;
}
.project-name{
	text-align:center;
	padding:10px 0;
}
#timeline:before{
	content:"";width:3px;
	height:100%;
	background:#800f0f;
	left:50%;
	position:absolute;
}
#timeline:after{
	content:"";
	clear:both;
	display:table;
	width:100%;
}
#timeline .timeline-item{
	margin-bottom:50px;
	position:relative;
}
#timeline .timeline-item .timeline-icon{
	background:#800f0f;
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	left:50%;
	overflow:hidden;
	margin-left:-23px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
}
#timeline .timeline-item .timeline-icon img{
	position:relative;
	top:14px;
	left:14px;
}
#timeline .timeline-item .timeline-content{
	width:45%;
	background:#F1F1F1;
	padding:20px;
	-webkit-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
	overflow: hidden;
}
#timeline .timeline-item .timeline-content h2{
	padding:15px;
	background:#800f0f;
	color:#fff;
	margin:-20px -20px 0 -20px;
	font-weight:500;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-ms-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
#timeline .timeline-item .timeline-content:before{
	content:'';
	position:absolute;
	left:45%;
	top:20px;
	width:0;
	height:0;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	border-left:7px solid #800f0f;
}
#timeline .timeline-item .timeline-content.right{
	float:right
}
#timeline .timeline-item .timeline-content.right:before{
	content:'';
	right:45%;
	left:inherit;
	border-left:0;
	border-right:7px solid #800f0f;
}
.btn{
	padding:5px 15px;
	text-decoration:none;
	background:transparent;
	border:2px solid #f27c7c;
	color:#f27c7c;
	display:inline-block;
	position:relative;
	text-transform:uppercase;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
	-ms-transition:background 0.3s ease;
	transition:background 0.3s ease;
	-webkit-box-shadow:2px 2px 0 #f27c7c;
	-moz-box-shadow:2px 2px 0 #f27c7c;
	-ms-box-shadow:2px 2px 0 #f27c7c;
	box-shadow:2px 2px 0 #f27c7c;
}
.btn:hover{
	box-shadow:none;
	top:2px;
	left:2px;
	-webkit-box-shadow:2px 2px 0 transparent;
	-moz-box-shadow:2px 2px 0 transparent;
	-ms-box-shadow:2px 2px 0 transparent;
	box-shadow:2px 2px 0 transparent;
}
@media screen and (max-width: 768px){
	#timeline{
		margin:30px;
		padding:0;
	}
	#timeline:before{
		left:0;
	}
	#timeline .timeline-item .timeline-content{
		width:90%;
		float:right;
	}
	#timeline .timeline-item .timeline-content:before,#timeline .timeline-item .timeline-content.right:before{
		left:10%;margin-left:-6px;
		border-left:0;
		border-right:7px solid #800f0f;
	}
	#timeline .timeline-item .timeline-icon{
		left:0;
	}
}