html {
	height: 100%;
	overflow-y: scroll;
}
body, html {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Source Code Pro', 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}
body {
	padding-top: 20px;
	padding-bottom: 25px;
	min-height: 100%;
	position: relative;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	font-family: 'Source Code Pro', 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	text-decoration: underline;
	font-size: 13px;
	color: #000;
}
a:hover {
	background: #000;
	color: #fff;
}
h1 {
	font-size: 15px;
	font-weight: 600;
	color: #666;
	margin: 0px;
}
h2 {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
#click{
	margin-top: 5px;
	font-family: 'Source Code Pro', 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 13px;
}
#homepage.main #navi {
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	transition: all .75s ease-in-out;
}
#homepage.main #navi.top {
	top: 20px;
	transform: translateY(0%);
}
#navi {
	font-family: 'Microsoft Yi Baiti', Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	height: 225px;
	line-height: 50px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
hr {
    border: 0;
    border-bottom: 2px solid black;
    max-width: 725px;
}
#navi a {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	margin: 0 25px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}
#navi a.logo {
	height: 100%;
	width: auto;
}
#navi a.logo:hover {
	border-bottom: none;
}
#navi a.logo img {
	vertical-align: middle;
	width: auto;
	margin: auto;
	padding-bottom: 10px;
	height: 120px;
}
#navi a.logo:hover{
	background: none;
}
#navi .right-links{
	max-width: 725px;
	margin: auto;
	border-bottom: 1.5px solid black;
}
#navi .left-links{
	max-width: 725px;
	margin: auto;
	border-bottom: 1.5px solid black;
}
#header {
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 755px;
	height: 300px;
	position: relative;
}
#header img {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}
#header img.instant {
	-webkit-transition: opacity 0s;
	transition: opacity 0s;
}
#header img.selected {
	opacity: 1;
}

/* section code */
.section{
	margin: auto;
	background-color: #FFF;
	margin-top: 25px;
	max-width: 725px;
	overflow: hidden;
	text-align: center;
}
.section img{
	max-width: 725px;
}
.section p{
	text-align: left;
}
#aboutme, #contactme, #resumepage, #project-select, #projects{
	max-width: 725px;
}
.maintext{
	width: 350px;
	border-top: 1.5px solid black;
	border-bottom: 2px solid black;
	float: left;
}
.mainimage{
	overflow: hidden;
	padding-left: 25px;
}
.mainimage img{
	max-width: 350px;
}

/* One Two Three */
.zero{
	border-bottom: 1.5px solid black;
}
.one{
	border-top: 1.5px solid black;
	text-transform: uppercase;
	font-weight: 600;
	float: left;
	padding: 10px;
}
.two{
	border-top: 1.5px solid black;
	border-left: 1.5px solid black;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}
.three{
	border-bottom: 1.5px solid black;
	text-align: center;	
	padding: 10px;
}
.textwrapper{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 2px;
}
.textwrapper h1{
	text-transform: uppercase;
}
.single{
	margin: auto;
	width: 100%;
}
/* triplethreat */
#triplediv{
	overflow: hidden;
	text-align: center;
	margin-top: 50px;
}

.section .triplethreat {
	max-width: 205px;
	float: left;
}

.section .triplethreat img{
	margin-bottom: 10px;
}

.section #centerthreat{
	margin-left: 50px;
	margin-right: 50px;
}

/* Projects Formatting */

#projects {
	margin-left: auto;
	margin-right: auto;
}
#categories {
	margin-bottom: 25px;
	margin-top: 0;
	text-align: center;
	list-style: none;
	padding-left: 0;
	text-transform: uppercase;
}
#categories li {
	display: inline;
	margin: 0 15px;
}
#categories a{
	text-decoration: none;
}
#category{
	margin-top: 0;
}

/* Projects categories */
.procat{
	font-weight: 800;
    font-size: 13px;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	max-width: 425px;
	text-transform: uppercase;
}
.cat{
	text-align: center;
}
.cat ul{
	padding-left: 0;
}
.cat li{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 40px;	
}
.cat ul li span{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 2px;
	display: block;
}
.cat ul li a{
	display: block;
	text-decoration: none;
}
/* Contact Me */
.con{
	font-weight: 800;
    font-size: 13px;
	text-align: center;
	padding: 10px;
	width: 350px;
	text-transform: uppercase;
	border-top: 0;
	border-bottom: 0;
}
#socmed{
	float: right;
}
#form{
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	text-align: center;
    width: 350px;
    float: left;
}
.ss-form-question {
	display: flex;
}
#entry_223057992, #entry_1286452109, #entry_2036269118 {
	padding: 10px;
	width: 280px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #fff;
	overflow: hidden;
}
#name, #entry_223057992{
	border-top: 2px solid black;
}
#entry.2036269118{
	height: 125px;
	border-bottom-width: 1px solid black;
	margin: 0px;
	width: 281px;
}
#submit{
	background: #fff;
	color: #000;
	border: none;
	text-transform: uppercase;
	text-decoration: underline;
}
#submit:hover{
	background: #000;
	color: #fff;
}
.contactinfo{
	float: left;
	width: 65px;
    border-top: 1.5px solid black;
    font-weight: 600;
    text-transform: uppercase;
}
.concard{
	text-align: center;
	width: 175px;
	height: 95px;
	line-height: 95px;
}
.concard:hover{
	background-color: #000;
}
#con1, #con3{
	float: left;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
#con1, #con2{
	border-top: 2px solid black;
}
#con3, #con4{
    border-top: 1px solid black; 
	border-bottom: 2px solid black;
}
#con2, #con4{
	overflow: hidden;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
#contactform {
	display: inline-block;
	vertical-align: top;
}

#contactform {
	text-align: center;
}

#contactform input[type="text"] {
	width: 300px;
	font-size: 10px;
	margin: 10px 4px;
	padding: 5px;
	border: none;
}
#contactform textarea {
	width: 300px;
	max-width: 710px;
	font-size: 10px;
	margin: 10px 4px;
	padding: 5px;
}
#contactform .submit-area {
	text-align: center;
}
#contactform .submit-area input[type="submit"] {
	margin: 10px 4px;
	margin-right: 38px;
	cursor: pointer;
}
.ss-question-list{
	margin: 0px;
}
#socialmedia{
	float: right;
	text-align: center;
}
#socialmedia h3{
	margin-top: 3px;
    font-size: 13px;
    font-weight: normal;
}
#socialmedia a {
	text-decoration:none;
}

#socialmedia .title, #form .title{
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 600;
}

/* Back to */

.proback{
    font-size: 13px;
	text-align: center;
	padding: 10px;
	margin: 30px auto;
	max-width: 425px;
}
/* Specific Page Formatting */
#logosprojects .section{
	margin-top: 100px;
}
#logosprojects .section:first-child{
	margin-top: 25px;
}
#footer {
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	font-weight: 600;
	right: 0;
	left: 0;
	bottom: 25px;
	border-top: 1.5px solid black;
	border-bottom: 2px solid black;
	max-width: 725px;
	margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#footer hr{
    border-bottom: 1.5px solid black;
    margin-bottom: 10px;
}

/* Resume Formatting */

#resume .maintext, #resume .two{
	text-align: left;
}
#resume ul{
	text-align: left;
	font-size: 11px;
}
#resume .skills .zero{
	border-bottom: none;
}
#resume .skills .one{
	width: 145px;
}

#resume .work{
	margin-top: 25px;
    margin-left: 12px;
    height: 215px;
}
#resume .work .two, #resume .edu .two{
	text-align: center;
}
#resume .work .one em{
	text-transform: none;
	font-weight: normal;
	font-size: 11px;
}
#resume .work .three{
	border-bottom: none;
	padding: 1px;
}
.resu1, .resu2{
	border-bottom: none;
}
#resume .resu3, #resume .resu4{
	margin-top: 0;
	height: 185px;
}
#resume .edu .one{
	width: 270px;
}
#resume .edu .one em{
	text-transform: none;
	font-weight: normal;
	font-size: 11px;
}
#resume .edu .three{
	border-bottom: none;
}
#resume .edu .ryer{
	border-bottom: 1px solid black;
	height: 73px;
}
#resume .edu #uw{
	height: 55px;
}
#resume #resublank{
	border-bottom: none;
}
#resume #resublank #zero{
	height: 0px;
}
#resume .rvolun #zero{
	min-height: 56px;
}
#resume .work .two{
	min-height: 56px;
}

/*back to top */
#backtotop {
	background-color: #fff;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
#backtotop:hover{
	color: #888;
	background-color: #fff;
}
#backtotop i{
	opacity: 0;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

@media (max-width: 740px) {
	.section {
		max-width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.section .ssection {
		margin-top: 0;
	}
	.section .triplethreat {
		max-width: 300px;
		text-align: center;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	.section #centerthreat {
		margin-right: auto;
		margin-left: auto;
	}
	.section img{
		max-width: 90%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 10px;
	}
	#projects img{
		max-width: 100%;
	}
	.cat a{
		margin-left: 0;
	}
	.cat li{
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: 325px;
	}
	#aboutme, #contactme, #resumepage, #project-select, #projects, #navi .left-links, #navi .right-links, hr, #footer, #footer hr {
		margin-right: 0;
    	margin-left: 0;
    	max-width: 100%;
	}
	#categories li{
		display: block;
		width: 100%;
	}
	.project .section .info {
		width: auto;
	}
	#aboutme img {
		display: none;
	}
	#aboutme .maintext{
		width: auto;
	}
	.section p{
		padding-left: 10px;
		padding-right: 10px;
	}
	.section img{
		max-width: 90%;
	}
	.mainimage{
		overflow: visible;
		padding-left: none;
		margin-top: 10px;
	}
	.maintext{
		width: 100%;
		margin-bottom: 10px;
	}
	#contactform {
		width: auto;
		display: block;
	}
	#contactform .submit-area {
		text-align: center;
	}
	#contactform .submit-area input[type="submit"] {
		margin-right: 0px;
	}
	#project-select .images {
		text-align: center;
	}
	#resume .maintext {
		width: 100%;
		max-width: 730px;
	}
	#resume #ruiux {
   		height: 122px;
	}
    #resume #rgd {
    	height: 105px;
	}
	#resume #rcom {
		height: 138px;
	}
	.maintext {
		width: 100%;
		margin-bottom: 20px;
	}
	#resume .work {
		margin-left: 0;
		height: auto;
	}
	#resume .resu2 {
		margin-top: 0;
	}
	#resume .resu3 {
		border-bottom: 0;
		height: auto;
	}
	#resume .resu4 {
		height: auto;
	}
	#resume .textwrapper {
		border-top: 0;
		border-bottom: 0;
	}
	#resume .workex .zero{
		height: 68px;
	}
	#resume .rvolun #zero{
		min-height: auto;
	}
	#resume #sony, #resume #sony .two{
		height: 72px;
	}
	#resume .one{
		width: 286px;
	}
	#socialmedia{
		float: none;
		margin-top: 50px;
	}
	#socmed{
		float: none;
	}
	#concards{
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.con{
		margin-left: auto;
   		margin-right: auto;
	}
	#form{
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	#formwrapper{
		margin-left: auto;
		margin-right: auto;
		width: 345px;
	}
	#resume .textwrapper, .procat {
		border-top: 0;
		border-bottom: 0;
	}
	.mainimage{
		overflow: visible;
		padding-left: none;
	}
}

