body{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
}
h1, h2{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}
#thesissplash{
	max-width: 90%;
	margin-top: 40px;
}
#recommend img{
	max-width: 90%;
}
h1{
	text-align: center;
}
h2{
	font-size: 22px;
	text-align: center;
}
a, a:visited{
	color: #000;
}
a:hover{
	color: #01A2A6;
	text-decoration: none;
}
#thesischarts{
	max-width: 90%;
}
.projectsnav{
	display: block;
	text-align: right;
	float: none;
}
/* White & Grey Divs */
.white, .grey{
	clear: both;
	padding: none;
	text-align: center;
}
.grey{
	background-color: #ecf0f1;
}
.inner{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	max-width: 1000px;
}
/* Big Links */
.largeurl{
	border: 1px black solid;
	padding: 15px 55px;
	margin: 10px;
	display: inline-block;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
}
.largeurl:hover{
	border: 1px #01A2A6 solid;
}
/* Navigation */
#top{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
#logo{
    width:100px;
}
/* about */
#about{
	clear: both;
}
#about img{
	max-width: 300px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: left;
}
#abouttext{
	width: 700px;
	text-align: left;
	margin-top: 70px;
	font-size: 15px;
	line-height: 20px;
}
#ack, #ref{
	width: 700px;
	text-align: left;
	font-size: 14px;
}
#connect{
	padding: 0;
}
#connect li{
	display: inline;
	float: left;
	margin: 15px;
}
#research{
	text-align: left;
}
#references{
	list-style-type: none;
    padding-left: 1.5em;
    text-indent:-1.5em;
    margin-bottom: 5px;
}
ol{
	margin-left: 200px;
}
table{
	text-align: center;
}
table p{
	font-size: 14px;
}
#contactspecial{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 327px;
}